{
  "root": true,
  "extends": ["plugin:@nx/react",  "plugin:prettier/recommended"],
  "plugins": ["prettier", "@nx"],
  "rules": {
    "prettier/prettier": "error"
  },
  "ignorePatterns": ["!**/*"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": ["plugin:@nx/typescript"],
      "rules": {}
    },
    {
      "files": ["*.js", "*.jsx"],
      "extends": ["plugin:@nx/javascript"],
      "rules": {}
    }
  ]
}
